{{#> layout }}
    {{#*inline "mainContent" }}
        {{> pageTitle }}

        <div class="text-uppercase text-center sync-list">
            <span data-localize="pending"></span><span>: </span><span id="pending"></span>
        </div>

        <div class="text-uppercase text-center sync-list">
            <span data-localize="delivered"></span><span>: </span><span id="delivered"></span>
        </div>

        <div class="text-uppercase text-center sync-list mb-3">
            <span data-localize="delivered_since_sync"></span><span>: </span><span id="since_sync"></span>
        </div>

        {{> menuItem
                id="view_deliveries"
                icon="../img/dist_icon.svg"
                label="view_deliveries"
        }}
    {{/inline}}

    {{#*inline "bodyEnd" }}
        <script type="text/javascript" src="../js/renderers/progress_summary.js"></script>

        <script>
            'use strict';
            $(util.renderPage(display));
        </script>
    {{/inline}}
{{/layout}}
