{{#> detailView }}
    {{#*inline "pageSpecific" }}
        <div id="visitDetailEdit">
            <button type="button"
                    id="visitDetailEditBtn"
                    class="btn btn-sm btn-primary mb-2 rc-red-bg border-0"
                    data-localize="edit_label"></button>
        </div>
    {{/inline}}

    {{#*inline "pageScripts" }}
        <script type="text/javascript" src="../js/visits_detail.js"></script>
    {{/inline}}
{{/detailView}}
