{{#> listView error="no_visits_found" }}
    {{#*inline "pageSpecific"}}
        <div id="visitSearchDiv" class="input-group input-group-lg mb-3">
            <input type="text" id="search-input" class="form-control" placeholder="Search for rc number">
            <span class="input-group-append">
                <button id="visitListSearch" class="btn btn-outline-secondary" type="button">Search</button>
            </span>
        </div>
    {{/inline}}
    {{#*inline "pageScripts" }}
        <script type="text/javascript" src="../js/visits_list.js"></script>
    {{/inline}}
{{/listView}}
