{{#> reliefDetailView }}
    {{#*inline "pageSpecific" }}
        <a id="toggle_workflow" class="ml-auto mb-n4" href="#"><span>&raquo;</span></a>
        <div id="deliveryVisitTabs" class="list-group list-group-horizontal text-center order-first">
            <button id="deliveryTab"
                    type="button"
                    class="list-group-item list-group-item-action flex-fill py-1 active"
                    data-localize="delivery_upper_case"></button>
            <button id="visitTab"
                    type="button"
                    class="list-group-item list-group-item-action py-1 flex-fill"
                    data-localize="visit_menu"></button>
        </div>
        <div id="switch-id" class="d-flex flex-column mb-3">
            <h5 id="switch-title-id" class="text-uppercase"></h5>
            {{> btnSwitch }}
        </div>
    {{/inline}}

    {{#*inline "pageScripts" }}
        <script type="text/javascript" src="{{ @root.tablesPath }}/beneficiary_entities/relief_assets/js/beneficiary_entities_detail.js"></script>
    {{/inline}}
{{/reliefDetailView}}
