<div class="btn-group btn-group-toggle w-25 toggle-switch" data-toggle="buttons">
    <label class="btn btn-outline-success toggle-left">
        <input type="radio" name="options" autocomplete="off">
        <span>Enabled</span>
    </label>
    <label class="btn btn-outline-danger toggle-right">
        <input type="radio" name="options" autocomplete="off">
        <span>Disabled</span>
    </label>
</div>
