<div class="mb-3">
    <div class="text-uppercase text-center sync-list">
        <span id="newSinceSyncCount"></span>
    </div>
    {{#if registration }}
        <div class="text-uppercase text-center sync-list">
            <span id="editedSinceSyncCount"></span>
        </div>
    {{/if}}
</div>